extends layout

block main
  .container.proDetail.proData
    .row
      .col-sm-4
        img.img-responsive.itemImg(src='/img/cup-nutella.jpg', alt='')
      .col-sm-4
        div
          h4.itemName= product.title
          p= product.description
            
        div
          h4 Ingredientes
          ul
            each ing in product.ingredients
              li= ing
        
      .col-sm-4
        
        .col-xs-9.selector
          p Selecciona un pack
          p
            select.selectpicker
              option(value="6") 6 cupcakes
              option(value="12") 12 cupcakes
              option(value="18") 18 cupcakes
        .col-xs-3.price(data-price=`${product.price}`)
          p Total
          p €
            span 18.00

        a.btn.btn-primary.col-xs-12.addProduct(href="", data-id=`${product.id}`, role='button') Añadir al carrito 
          span.glyphicon.glyphicon-shopping-cart
          span.glyphicon.glyphicon-plus-sign
        a.btn.btn-primary.col-xs-12.goCart.hide(href="/cart", role='button') 
          | Ir al carrito 
          span.glyphicon.glyphicon-shopping-cart
        a.col-sm-12.btn.btn-default.col-xs-12(href=`/products/${product.category}`) Seguir comprando
      .col-xs-12.text-center
        h4 Opiniones de los usuarios
      .col-sm-4.reviewTotal.pull-right
        .reviewText
          p 
            span.badge 42
            | Opiniones
        .stars
          span.fa.fa-star.checked
          span.fa.fa-star.checked
          span.fa.fa-star.checked
          span.fa.fa-star
          span.fa.fa-star
      .col-xs-12
        .reviewArea


