extends layout

block main
  
  section.proArticles
    if (section == 'cupcakes')
      h3  Estos son nuestros Cupcakes
    //- articles to create dinamicly
    if (section == 'cakes')
      h3  Estas son nuestras Tartas
    .row
      each product in products
        if (product.category === section)
          .col-sm-6.col-md-4
            .thumbnail.proData
              a(href=`/products/details/${product.id}`)
               img(src='/img/cup-nutella.jpg', alt='...')

              .caption
                h3.itemName=product.title
                  
                p.itemReviews
                  span.badge
                    | 42 
                  | Opiniones  
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star.checked
                  span.fa.fa-star
                  span.fa.fa-star
                a.btn.btn-default.col-xs-12(href=`/products/details/${product.id}`, role='button') Ver detalles
                .col-xs-9.selector
                  if (section == 'cupcakes')
                    p Selecciona un pack
                    p
                      select.selectpicker
                        option(value="6") 6 cupcakes
                        option(value="12") 12 cupcakes
                        option(value="18") 18 cupcakes
                  if (section == 'cakes')
                    p Selecciona nº de personas
                    p
                      select.selectpicker
                        option(value="12") 12 personas
                        option(value="24") 24 personas
                        option(value="36") 36 personas
                .col-xs-3.price(data-price=`${product.price}`)
                  p Total
                  p €
                    -
                      var initTotal = product.price * 6
                    span= initTotal

                a.btn.col-xs-12.addProduct(href="", data-id=`${product.id}`, role='button') Añadir al carrito 
                  span.glyphicon.glyphicon-shopping-cart
                  span.glyphicon.glyphicon-plus-sign
                a.btn.btn-primary.col-xs-12.goCart(href="/cart", role='button') 
                  | Ir al carrito 
                  span.glyphicon.glyphicon-shopping-cart
                span.glyphicon.glyphicon-shopping-cart
                hr
